# Folders

bin/
pkg/
/click/
/go-installation/
/src/gopkg.in/
/src/code.google.com/

# Gedit files

*~

# Copied host binary

/ubuntu-gmail-app

# Ubuntu SDK files

*.goproject.user

# IntelliJ files

/.idea
*.iml
